@page "/counter"
@using System.IO;




<h1>Counter</h1>



<!-- <p>Current count: @currentCount</p> -->
<p>Current count:</p>
<p></p>



<!-- <button class="btn btn-primary" @onclick="IncrementCount">Click me</button> -->
<button class="btn btn-primary" @onclick="GetDish">Generer ukesmeny</button>





@code {



    public class DishClass
    {



        public string Type { get; set; }
        public string Dish { get; set; }




        public void setVal(string val1, string val2)
        {
            Type = val1;
            Dish = val2;
        }



        public string GetDishType()
        {
            return Type;
        }



        public string GetDishName()
        {
            return Dish;
        }




        public List<DishClass> AllDishes()
        {
            List<DishClass> alle_retter = new List<DishClass>();
            var allLines = File.ReadAllLines("AllMeals.txt");



            foreach (var line in allLines)
            {
                if (string.IsNullOrWhiteSpace(line))
                {
                    continue;
                }



                var categories = line.Split(";");
                var type = categories[0];
                var dish = categories[1];



                DishClass dishClass = new DishClass();
                dishClass.setVal(type, dish);
                alle_retter.Add(dishClass);
            }





            return alle_retter;
        }



    }






    private async Task GetDish()



    {
        await Task.Delay(100);



        //var tst = new DishClass();
        string[] fishes = { "Ørret", "Saran", "Stuka", "Pastrmka" };
        var tilfeldig = new Random();
        var rndMember = fishes[tilfeldig.Next(fishes.Length)];



        // fisk = rndMember;
        //      tst.Dish = "Fiskesuppe";
        //return 2;
    }








}